@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Minecraft Survival Games</title>
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <h1>Minecraft Survival Games (On Public Servers!)</h1>
    <img src="~/fqj8pzjx0agoapc.jpg" />
    <img src="~/hungergames1.jpg" />
    
    <h3>What is Minecraft Survival Games?</h3>

    <p>Minecraft survival games was an extremely popular Minecraft gamemode on public servers. This gamemode was based off of the movie Hunger Games and was essentially a battle Royal.</p>
    <p>When I was younger this gamemode quickly became one of my hobbies which lead me towards programming as I was able to create different modifications through code and eventually have my own server!</p>
    <p>To this day I still enjoy Minecraft ocassionally and I enjoy playing different mods and on different community servers so that I can feel some nastolgia here and there and just enjoy what I once</p>
    <p>found so fun! </p>
    <br />
    <p>One of the biggest things associated with Minecraft hunger games was Youtubers playing in these competitive games and recording it (image above of one of the thumbnails).</p>
    <p>This is what truly got me into Minecraft survival games and the idea that I could potentially run into these Youtubers that I enjoyed watching (which I eventually did when I was younger)!</p>
    <p>The Minecraft scene grew so rapidly that these Youtubers now are still wealthy creators that still create content to this day around 10 years later! To think that people made a living off</p>
    <p>of this type of thing is amazing!</p>
    <br />
    <p>One of the main reasons why I played was for the stats, it was cool to be really good at this gamemode. With the stats came with points associated as well!</p>
    <p>So as you would win games or get kills your points would accumulate over time, the crazy thing is that if you killed someone with high points you got way more points so those players</p>
    <p>were common targets when they joined a lobby. But this also made them cool to everyone around and they could flex to the server how many points they had and that was in turn associated</p>
    <p>with how good they were actually at the game!</p>
    <br />
    <br />

    <a href="~/lib/jquery/dist/jquery.min.map">~/lib/jquery/dist/jquery.min.map</a>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/site.js"></script>

</body>
</html>
